form {
    width: 100px;
}
form input, label {
    display: block;
}

form input{
    box-sizing: border-box;
    width: 200%;
    padding: 10px;
    border-radius: 13px;
}
form label{
    padding: 100px 0;
    font-size: 50px;
}
