body {
	background: white;
	font-family: Tahoma, Arial, sans-serif;
	color: black;
}

table {
	border-collapse: collapse;
	border-color: black;
	border: 2px solid;
}

p, h4 {
	font-size: 20px;
	margin-bottom: 0;
}

h4 {
	font-size: 14px;
}

ul, ol {
	margin:	0;
}

table tr td {
	padding: 5px;
}

table {
	width: 100%;
}

img {
	height: 200px;
	width: auto;
}